<!DOCTYPE html>
<html>
    <head>
        <title>${pom.name} ${pom.version} - $winWorkUtil.getLabel($loginUser.displayLang, 'global.list') Process Instance</title>
        #include("vita/common/common_head_tag.html")
    </head>
    <body>
        #parse("vita/common/header.vm")
        #include("vita/common/leftMenu.html")

        <form action="#" method="get" class="form-horizontal" name="listForm" id="listForm" onkeypress="return event.keyCode != 13;">
            <input type="hidden" name="pageStart" id="pageStart" />
            <input type="hidden" name="searchKeyword" id="searchKeyword" />
            <fieldset>
                <legend>
                    Process Instance $winWorkUtil.getLabel($loginUser.displayLang, 'global.list')
                </legend>
                <div class="row">
                    <div class="col-xs-4">
                        <button class="btn btn-default" type="button" onclick="doSearch();" onkeypress="doSearch();">$winWorkUtil.getLabel($loginUser.displayLang, 'global.refresh')</button>
                    </div>
                </div>
            </fieldset>
            <br />
            <p class="text-left">
                <strong>$winWorkUtil.getLabel($loginUser.displayLang, 'list.displayResult')</strong>
                <select class="input-mini" name="pageSize" id="pageSize">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                </select>
            </p>
            <div id="listContent"></div>
            <div id="viewMessageContent" title="Task Message Content"
                 class="modal fade" aria-hidden="true" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <p id="taskMessageContent"></p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">$winWorkUtil.getLabel($loginUser.displayLang, 'global.close')</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="viewActivityData" title="Activity Data"
                 class="modal fade" aria-hidden="true" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <p id="activityDataContent"></p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">$winWorkUtil.getLabel($loginUser.displayLang, 'global.close')</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        #include("vita/common/footer.html")
        <script type="text/javascript">
            setContextUrl('${web.context}');
            setModel('$modelName');
            function showMessageContent(id) {
                $.ajax({
                    type: 'GET',
                    url: contextUrl + '/processInstance/taskMsgContent?id=' + id,
                    success:function(data, textStatus) {
                        $("#taskMessageContent").html(data);
                        $("#viewMessageContent").modal('show');
                    }
                });
            }

            function showActivityData(id) {
                $.ajax({
                    type: 'GET',
                    url: contextUrl + '/processInstance/viewActivityData?id=' + id,
                    success:function(data, textStatus) {
                        $("#activityDataContent").html(data);
                        $("#viewActivityData").modal('show');
                    }
                });
            }
            doSearch();
        </script>
    </body>
</html>