<!DOCTYPE html>
<html>
    <head>
        <title>${pom.name} ${pom.version} - $winWorkUtil.getLabel($loginUser.displayLang, 'global.list') Process Instance</title>
        #include("vita/common/common_head_tag.html")
    </head>
    <body>
        #parse("vita/common/header.vm")
        #include("vita/common/leftMenu.html")

        <form action="#" method="get" class="form-horizontal" name="listForm" id="listForm" onkeypress="return event.keyCode != 13;">
            <fieldset>
                <legend>
                    Process Instance Detail
                </legend>
                <dl class="dl-horizontal">
                    <dt>Event Name : </dt>
                    <dd>$displayTool.alt($model.eventName, '')</dd>

                    <dt>Status : </dt>
                    <dd>$displayTool.alt($model.activityStatus, '')</dd>

                    <dt>Execution Time : </dt>
                    <dd>$model.executionTime milliseconds</dd>

                    <dt>Create Date : </dt>
                    <dd>$dateTool.format('dd-MM-yyyy HH:mm:ss.SSS', $model.createDate)</dd>

                </dl>
                <div class="col-sm-offset-2 col-sm-10">
                    <a href="${web.context}/processInstance/list" class="btn btn-primary">$winWorkUtil.getLabel($loginUser.displayLang, 'global.back')</a>
                </div>
            </fieldset>
            <br />
            <div class="table-responsive">
                <table class="table table-bordered table-condensed listTable-blue">
                    <thead>
                    <tr>
                        <th>$winWorkUtil.getLabel($loginUser.displayLang, 'list.no')</th>
                        <th>Task Name</th>
                        <th>Status</th>
                        <th>Start Date</th>
                        <th>Execution Time</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    #set ($index = 1)
                    #foreach($model in $list)
                    <tr>
                        <td>$index</td>
                        <td>$displayTool.alt($model.createBySimple, '&nbsp;')</td>
                        <td>$displayTool.alt($model.activityStatus, '&nbsp;')</td>
                        <td>$dateTool.format('dd-MM-yyyy HH:mm:ss.SSS', $model.createDate)</td>
                        <td>$model.executionTime milliseconds</td>
                        <td>
                            <button type="button" class="btn btn-primary btn-xs"
                                    onclick="showMessageContent('$model.id')"
                                    onkeypress="showMessageContent('$model.id')">
                                View Message Content
                            </button>
                            &nbsp;
                            <button type="button" class="btn btn-primary btn-xs"
                                    onclick="showActivityData('$model.id')"
                                    onkeypress="showActivityData('$model.id')">
                                View Activity Data
                            </button>
                        </td>
                    </tr>
                    #set ($index = $index + 1)
                    #end
                    </tbody>
                </table>
            </div>
            <div id="viewMessageContent" title="Task Message Content"
                 class="modal fade" aria-hidden="true" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <p id="taskMessageContent"></p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">$winWorkUtil.getLabel($loginUser.displayLang, 'global.close')</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="viewActivityData" title="Activity Data"
                 class="modal fade" aria-hidden="true" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <p id="activityDataContent"></p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">$winWorkUtil.getLabel($loginUser.displayLang, 'global.close')</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        #include("vita/common/footer.html")
        <script type="text/javascript">
            setContextUrl('${web.context}');
            function showMessageContent(id) {
                $.ajax({
                    type: 'GET',
                    url: contextUrl + '/processInstance/taskMsgContent?id=' + id,
                    success:function(data, textStatus) {
                        $("#taskMessageContent").html(data);
                        $("#viewMessageContent").modal('show');
                    }
                });
            }

            function showActivityData(id) {
                $.ajax({
                    type: 'GET',
                    url: contextUrl + '/processInstance/viewActivityData?id=' + id,
                    success:function(data, textStatus) {
                        $("#activityDataContent").html(data);
                        $("#viewActivityData").modal('show');
                    }
                });
            }

        </script>
    </body>
</html>