#parse("vita/common/list_paging.vm")
<div class="table-responsive">
    <table class="table table-bordered table-condensed listTable-blue">
        <thead>
            <tr>
                <th>$winWorkUtil.getLabel($loginUser.displayLang, 'list.no')</th>
                <th>$winWorkUtil.getLabel($loginUser.displayLang, 'qifAdapter.name')</th>
                <th>$winWorkUtil.getLabel($loginUser.displayLang, 'qifAdapter.adapterInterface')</th>
                <th>$winWorkUtil.getLabel($loginUser.displayLang, 'qifAdapter.description')</th>
                <th>$winWorkUtil.getLabel($loginUser.displayLang, 'global.action')</th>
            </tr>
        </thead>
        <tbody>
            #set ($index = 1)
            #set ($pageMark = ($pagingModel.currentPage * $pageSize) - $pageSize)

            #foreach($model in $list)
            #set ($counter = $pageMark + $index)
            <tr>
                <td>$counter</td>
                <td>$displayTool.alt($model.name, '&nbsp;')</td>
                <td>$displayTool.alt($model.adapterInterface, '&nbsp;')</td>
                <td>$displayTool.alt($model.description, '&nbsp;')</td>
                <td>
                    <a href="${web.context}/$modelName/edit?id=$model.id">Edit</a>
                    &nbsp;
                    <a href="#" onclick="deleteConfirmation('$model.id')">Delete</a>
                </td>
            </tr>
            #set ($index = $index + 1)
            #end
        </tbody>
    </table>
</div>