<!DOCTYPE html>
<html>
    <head>
        <title>${pom.name} ${pom.version} - $winWorkUtil.getLabel($loginUser.displayLang, 'global.create') $winWorkUtil.camelCaseToReadable($modelName, true)</title>
        #include("vita/common/common_head_tag.html")
    </head>
    <body>
        #parse("vita/common/header.vm")
        #include("vita/common/leftMenu.html")
        <form Property="${web.context}/$modelName/create" method="post" enctype="application/x-www-form-urlencoded" class="form-horizontal" name="createForm" role="form">
            <fieldset>
                <legend>
                    $winWorkUtil.camelCaseToReadable($modelName, true) $winWorkUtil.getLabel($loginUser.displayLang, 'global.create')
                </legend>
                <div class="form-group">
                    <label class="col-sm-2 control-label required" for="name">$winWorkUtil.getLabel($loginUser.displayLang, 'qifEvent.name') </label>
                    <div class="col-sm-6">
                        <input type="text" id="name" name="name" class="form-control" value="$displayTool.alt($model.name, '')" />
                        <span class="help-inline">$displayTool.alt($errorMessage.name, '')</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="eventType">$winWorkUtil.getLabel($loginUser.displayLang, 'qifEvent.eventType')<font color="red">*</font></label>
                    <div class="col-sm-6">
                        <input type="text" id="eventType" name="eventType" class="form-control" value="$displayTool.alt($model.eventType, '')" />
                        <span class="help-inline">$displayTool.alt($errorMessage.eventType, '')</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="eventInterface">$winWorkUtil.getLabel($loginUser.displayLang, 'qifEvent.eventInterface')<font color="red">*</font></label>
                    <div class="col-sm-6">
                        <input type="text" id="eventInterface" name="eventInterface" class="form-control" value="$displayTool.alt($model.eventInterface, '')" />
                        <span class="help-inline">$displayTool.alt($errorMessage.eventInterface, '')</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="qifProcess">$winWorkUtil.getLabel($loginUser.displayLang, 'qifEvent.qifProcess')<font color="red">*</font></label>
                    <div class="col-sm-6">
                        <select name="qifProcess" id="qifProcess" class="form-control">
                            <option value=""></option>
                            #foreach($keyValue in $processList)
                                <option value="$keyValue.key"
                                #if($model.qifProcess == $keyValue.key)
                                    selected="selected"
                                #end
                                >$displayTool.alt($keyValue.value, '')</option>
                            #end
                        </select>
                        <span class="help-inline">$displayTool.alt($errorMessage.qifProcess, '')</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="auditTrailEnabled" name="auditTrailEnabled"  #if ($model.auditTrailEnabled) checked="checked" #end/>
                                $winWorkUtil.getLabel($loginUser.displayLang, 'qifEvent.auditTrailEnabled')
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="activeAcceptMessage" name="activeAcceptMessage"  #if ($model.activeAcceptMessage) checked="checked" #end/>
                                $winWorkUtil.getLabel($loginUser.displayLang, 'qifEvent.activeAcceptMessage')
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="keepMessageContent" name="keepMessageContent"  #if ($model.keepMessageContent) checked="checked" #end/>
                                $winWorkUtil.getLabel($loginUser.displayLang, 'qifEvent.keepMessageContent')
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="description">$winWorkUtil.getLabel($loginUser.displayLang, 'qifEvent.description')</label>
                    <div class="col-sm-6">
                        <textarea name="description" id="description" class="form-control">$displayTool.alt($model.description, '')</textarea>
                    </div>
                </div>
                <div class="col-sm-offset-2 col-sm-10">
                    #parse("vita/common/button_submit_form.vm")
                </div>
            </fieldset>
        </form>
        <form action="#" method="get" name="qifEventPropertyForm" id="qifEventPropertyForm" role="form">
            <input type="hidden" name="qifEventPropertyIndex" id="qifEventPropertyIndex" value="" />
            <input type="hidden" name="qifEventPropertyAction" id="qifEventPropertyAction" value="" />
            <div>
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <td>$winWorkUtil.getLabel($loginUser.displayLang, 'qifEventProperty.propertyKey')</td>
                            <td>$winWorkUtil.getLabel($loginUser.displayLang, 'qifEventProperty.propertyValue')</td>
                            <td>$winWorkUtil.getLabel($loginUser.displayLang, 'qifEventProperty.description')</td>
                            <td>$winWorkUtil.getLabel($loginUser.displayLang, 'global.action')</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input type="text" name="qifEventProperty_propertyKey" id="qifEventProperty_propertyKey" class="form-control" />
                            </td>
                            <td>
                                <input type="text" id="qifEventProperty_propertyValue" class="form-control" name="qifEventProperty_propertyValue"  />
                            </td>
                            <td>
                                <textarea name="qifEventProperty_description" id="qifEventProperty_description"> </textarea>
                            </td>
                            <td>
                                <input type="button" name="qifEventProperty_buttonAdd" class="btn btn-primary btn-sm" value="Add" onclick="addItem()"/>
                                <input type="button" name="qifEventProperty_buttonReset" class="btn btn-default btn-sm" disabled="disabled" value="Reset" onclick="resetItem()"/>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="child_qifEventProperty" />
        </form>
        #include("vita/common/footer.html")
	    <script src="${web.static}/js/config/qifEvent.js" type="text/javascript"></script>
        <script type="text/javascript">
            $(function() {
                setModel('$modelName');
                setContextUrl('${web.context}');
                loadQifEventProperty();
            });
        </script>
    </body>
</html>