<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">

    <display-name>Quadra Integration Framework</display-name>

    <listener>
        <listener-class>id.co.quadras.qif.dev.QifDevContextListener</listener-class>
    </listener>
    <!-- Init parameter -->
    <context-param>
        <param-name>rootPackage.process</param-name>
        <param-value>id.co.quadras.qif.dev.process</param-value>
    </context-param>
    <context-param>
        <param-name>rootPackage.task</param-name>
        <param-value>id.co.quadras.qif.dev.task</param-value>
    </context-param>

    <servlet>
        <servlet-name>AppStatus</servlet-name>
        <servlet-class>id.co.quadras.qif.dev.web.AppStatus</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AppStatus</servlet-name>
        <url-pattern>/appStatus</url-pattern>
    </servlet-mapping>
</web-app>