<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">

    <display-name>Quadra Integration Framework</display-name>

    <listener>
        <listener-class>id.co.quadras.qif.engine.QifEngineContextListener</listener-class>
    </listener>
    <!-- Init parameter -->
    <context-param>
        <param-name>qifConfigFile</param-name>
        <param-value>${app.qifConfigFile}</param-value>
    </context-param>

    <!-- SERVLET -->
    <servlet>
        <servlet-name>EventDispatcherServlet</servlet-name>
        <servlet-class>id.co.quadras.qif.engine.web.servlet.EventDispatcherServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EventDispatcherServlet</servlet-name>
        <url-pattern>/http-event/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EventApiServlet</servlet-name>
        <servlet-class>id.co.quadras.qif.engine.web.servlet.EventApiServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EventApiServlet</servlet-name>
        <url-pattern>/event-api</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AppStatusServlet</servlet-name>
        <servlet-class>id.co.quadras.qif.engine.web.servlet.AppStatusServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AppStatusServlet</servlet-name>
        <url-pattern>/app-status</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TaskApiServlet</servlet-name>
        <servlet-class>id.co.quadras.qif.engine.web.servlet.TaskApiServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TaskApiServlet</servlet-name>
        <url-pattern>/task-api</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProcessApiServlet</servlet-name>
        <servlet-class>id.co.quadras.qif.engine.web.servlet.ProcessApiServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProcessApiServlet</servlet-name>
        <url-pattern>/process-api</url-pattern>
    </servlet-mapping>

</web-app>